# Métodos de inserción: append, extend, insert

* **append()**: añade un elemento a la lista:

In [ ]:
lista = [1,2,3]

lista.append(4)

print(lista)

[1, 2, 3, 4]

* **extend()**: Une dos listas:

In [ ]:
lista2 = [6,7,8]

lista.extend(lista2)

print(lista)
print(lista2)

lista = lista + lista2 # Esto también vale

print(lista)

[1, 2, 3, 4, 6, 7, 8]
[6, 7, 8]
[1, 2, 3, 4, 6, 7, 8, 6, 7, 8]

* **insert()**: Añade un elemento en un posición indicada de la lista:

In [ ]:
lista.insert(1, 500)

print(lista)

[1, 500, 2, 3, 4, 6, 7, 8, 6, 7, 8]

# Métodos de eliminación: pop, remove

* **pop()**: elimina un elemento de la lista y lo devuelve. Se puede indicar el índice del elemento que queremos obtener como parámetro, sino se indica se devuelve y elimina el último:

In [ ]:
lista.pop()

print(lista)

lista.pop(2)

print(lista)

[1, 500, 2, 3, 4, 6, 7]
[1, 500, 3, 4, 6, 7]

* **remove()**: Elimina el elemento de la lista indicado por la posición:

In [ ]:
lista.remove(3)

print(lista)

[1, 500, 2, 4, 6, 7, 8, 6, 7, 8]


# Métodos de ordenación: reverse y sort

* **reverse()**: Modifica la lista invirtiendo los elementos:

In [ ]:
print(lista)

lista.reverse()

print(lista)

[1, 500, 4, 6, 7]
[7, 6, 4, 500, 1]

* **sort()**: Modifica la lista ordenando los elementos, se puede indicar el sentido de la ordenación:

In [ ]:
lista.sort()

print(lista)

lista.sort(reverse=True)

print(lista)

lista = ['hola', 'que', 'tal', 'Hola', 'Que', 'Tal']

lista.sort()

print(lista)

[1, 4, 6, 7, 500]
[500, 7, 6, 4, 1]
['Hola', 'Que', 'Tal', 'hola', 'que', 'tal']

# Métodos de búsqueda: count, index

* **count()**: devuelve el número de apariciones de un elemento en la lista:

In [ ]:
lista = [1,5,2,3,4,5]

lista.count(5)

2

* **index()**: Nos devuelve la posición de la primera aparición del elemento indicado. Se puede indicar la posición inicial y final de búsqueda:

In [ ]:
#lista.insert(0, 5)

print(lista)

print(lista.index(5))

print(lista.index(5,5))

[5, 5, 5, 1, 5, 2, 3, 4, 5]
0
8

Si no encuentra el elemento nos da una **excepción**.

In [ ]:
print(lista.index(5,1,4))

ValueError: ignored