# EJEMPLOS DE CODIGO

In [ ]:
# Declaraciones 
my_var = 5
print("Variable : " , my_var)
entero = -23
print("Entero : " , entero)
reales = 12.3 
print("Reales : " , reales)
booleano = True
print("Boleano : " , booleano)
literales = 'Hola'
print("Literal 1 : ",literales)
literales2 = "Hola"
print("Literal 2 : ",literales2)
literales3 = """Hola"""
print("Literal 3 : ",literales3)
literales4 = '''Hola'''
print("Literal 4 : ",literales4)
literales5 = """Salto de linea \n para cambiar de linea"""
print(literales5)

## Salidas por consola

In [ ]:
# Imprimir cadena de texto
print("Hola , mundo!")

# Imprimir variables
nombre = "Juan"
edad = 25
print("Nombre: " , nombre , "Edad : " , edad)

# Imprimir resultados de operaciones
a = 3 
b = 5
suma = a + b
print("La suma de : "  , a , " y " , b , " es: "  , suma)

# Formateo de cadenas con el metodo '.format()'
nombre = "Ana"
edad = 30
print("Nombre: {} , Edad: {} ".format(nombre,edad))

pais = "España"
poblacion = 48000000
print("Pais: {} , Poblacion: {} ".format(pais,poblacion))

# Formateo de cadenas con 'f'
nombre = "Maria" 
edad = 22
print(f"Nombre: {nombre} , edad: {edad}")

nom1 = "Black"
nom2 = "Metal"
print(f"Estilo: {nom1} {nom2}") 

# Salto de linea
print("Linea 1\nLinea 2\nLinea 3")

# Tabular texto
print("""
      Formateo de texto
      """)

# Uso de argumentos en la función print:
# sep = SEPARADOR
# end = FINAL DE LA IMPRESION
print("Hola" , "Mundo" , sep="<>")
print("Hola" , "Mundo" , sep="<>" , end="!!!\n")
print("Hola" , "Mundo" , sep="||" , end="|\n")
# Array
numeros = [1 , 2 ,3 , 4 , 5]
print("Salida normal array: " , numeros)
print("Salida formateada: ")
print(*numeros, sep=", ")
print(*numeros, sep=" <-> ")
print(*numeros, end=" <-- ")